.WeddingOffer__boxOne {
	display: flex;
	justify-content: center;
	width: 100%;
	@media screen and (max-width: 800px) {
		display: block;
	}
	p {
		@include p-style;
		margin: 0 10%;
		padding: 3vw 0;
		@media screen and (max-width: 1800px) {
			margin: 0 5%;
			padding: 3vw 0;
		}
		@media screen and (max-width: 800px) {
			margin: 5%;
		}
	}
	&__title {
		@include image-width-h3;
	}
}
