.WeddingOffer__boxOne {
	display: flex;
	justify-content: center;
	width: 100%;
	p {
		@include p-style;
		margin: 0 10%;
	}
	img {
		cursor: pointer;
		margin-left: 15%;
		height: 15vw;
		border-radius: 10px;
		box-shadow: $shadows-item;
		@media screen and (max-width: 1000px) {
			display: block;
			margin: 3vh auto;
			height: 30vw;
		}
		@media screen and (max-width: 700px) {
			height: 50vw;
		}
		@media screen and (max-width: 400px) {
			height: 50vw;
		}
		@media screen and (max-width: 300px) {
			height: 50vw;
		}
	}
}
