.footer__SocialMedia-box {
	width: 45%;
	margin: 3vh 0;
	h2 {
		text-align: center;
		color: white;
		font-size: 15px;
	}
	&__icon {
		display: flex;
		justify-content: center;
		img {
			cursor: pointer;
			width: 50px;
			margin: 2vh 5%;
		}
	}
}
