.HeaderPage {
	position: relative;
	width: 100%;
	height: 60vh;
	@media screen and (max-height: 600px) {
		height: 80vh;
	}
	@media screen and (max-height: 350px) {
		height: 100vh;
	}
	@media screen and (max-width: 950px) {
		height: 50vh;
		@media screen and (max-height: 600px) {
			height: 60vh;
		}
		@media screen and (max-height: 400px) {
			height: 100vh;
		}
	}

	&__image {
		position: absolute;
		background-image: url("../Image/HeaderPicture/HeaderPicture.png");
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	&__content {
		position: absolute;
		background-color: $blue-6;
		width: 100%;
		height: 100%;
		h1 {
			text-align: center;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 100%;

			font-family: "Bebas Neue", cursive;
			color: $font-white-color;
			font-size: 60px;
			font-weight: 100;

			padding: 2vh 10%;

			@media screen and (max-width: 450px) {
				font-size: 5vh;
			}
			@media screen and (max-width: 350px) {
				font-size: 3vh;
			}
		}

		div {
			position: absolute;
			top: 90%;
			left: 50%;

			text-align: center;
			font-family: "Bebas Neue", cursive;

			font-size: 15vh;

			color: $font-white-color;
			animation: arrowPuls 0.8s ease infinite alternate;
			@media screen and (max-width: 950px) {
				top: 80%;
			}
			@media screen and (max-height: 350px) {
				top: 90%;
			}
		}
	}
}
@keyframes arrowPuls {
	0% {
		transform: translate(-50%, -50%) rotate(90deg) scale(1);
	}

	100% {
		transform: translate(-50%, -50%) rotate(90deg) scale(1.3);
	}
}
