@import "../../../../scss/colors";
.WeddingOffer__boxTwo {
	display: flex;
	justify-content: center;
	.WeddingElements {
		margin: 5vh 0;
		display: flex;
		justify-content: center;
		width: 40%;
		&__container {
			@include circle-box;
		}
		h3 {
			@include circle-box-h3;
		}
	}
}
