.cooperation-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	img {
		height: 35px;
		padding-right: 5%;
	}
	div {
		font-size: 15px;
		line-height: 35px;
		a {
			color: #eeeeee;
		}
	}
}
