.cooperation-box {
	padding: 2vh;
	background-color: $footer-second-floor;
	display: flex;
	justify-content: center;
	img {
		margin: 0 5%;
		height: 40px;
	}
	div {
		color: #dddddd;
		font-size: 10px;
		a {
			color: $font-blue-color;
			font-size: 10px;
		}
	}
}
