@import "../../../scss/colors";
.MenuMobile__container {
	z-index: 10;
	top: 75px;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(177, 213, 243, 0.95);

	transition: 0.2s 0.2s ease-in-out;

	@media screen and (min-width: 1300px) {
		display: none;
	}

	.MenuMobile__element {
		list-style: none;
		margin: 0 20%;

		.MenuMobile__link {
			display: block;
			height: 100%;

			line-height: 50px;

			text-decoration: none;
			color: black;

			transition: 0.2s;
		}
		.MenuMobile__link:hover {
			font-size: 1.1em;
		}
	}
}

.visible .MenuMobile__container {
	transform: translateX(200vw);
}
