/*.ContainerDanceText {
	padding: 0 20% 1vh 20%;
}
.ContainerDanceText p {
	padding: 1vh 0;
	text-align: justify;
	font-size: 0.8em;
}
@media screen and (max-width: 1400px) {
	.ContainerDanceText {
		padding: 0 10% 1vh 10%;
	}
}
@media screen and (max-width: 1000px) {
	.ContainerDanceText p {
		font-size: 0.6em;
	}
}
@media screen and (max-width: 700px) {
	.ContainerDanceText {
		padding: 0 5% 1vh 5%;
	}
}
*/
