@import "../../../scss/colors";

.about {
	&__title {
		@include h1-style;
	}
	&__box {
		margin: 0 15%;
		padding-bottom: 5vh;
		@media screen and (max-width: 1200px) {
			margin: 0 10%;
		}
		@media screen and (max-width: 1000px) {
			margin: 0 5%;
		}
		@media screen and (max-width: 1000px) {
			margin: 0 0%;
		}
		h2 {
			@include h2-style;
			text-align: left;
			margin-bottom: 2vh;
		}
		p {
			@include p-style;
		}
	}
}
