.footer__adress-box {
	color: white;
	display: flex;
	justify-content: center;
	@media screen and (max-width: 800px) {
		display: block;
	}
	.adress-box__adress,
	.adress-box__adress {
		list-style: none;
		margin: 3vh 5%;
		@media screen and (max-width: 900px) {
			margin: 3vh 3%;
		}

		li {
			line-height: 40px;
			font-size: 15px;

			span {
				color: $font-blue-color;
			}
		}
	}
}
