.fitnes p {
	padding: 1vh 20% 2vh 20%;
	text-align: justify;
	font-size: 0.8em;
}

.fitnes__col {
	display: flex;
	justify-content: center;
}
.fitnes__col1,
.fitnes__col2 {
	width: 30%;
}

@media screen and (max-width: 1400px) {
	.fitnes p {
		padding: 0 10% 1vh 10%;
	}
}
@media screen and (max-width: 1200px) {
	.fitnes__col1,
	.fitnes__col2 {
		width: 40%;
	}
}
@media screen and (max-width: 1000px) {
	.fitnes p {
		font-size: 0.6em;
	}
}
@media screen and (max-width: 700px) {
	.fitnes p {
		padding: 0 5% 1vh 5%;
	}
	.fitnes__col1,
	.fitnes__col2 {
		width: 45%;
	}
}
@media screen and (max-width: 450px) {
	.fitnes__col {
		display: block;
		margin-left: 20%;
	}
	.fitnes__col1,
	.fitnes__col2 {
		width: 100%;
	}
}
