.instructors-page__box {
	box-shadow: $shadows-item;
	border-bottom: 5px solid $font-purple-color;
	padding-bottom: 5vh;
	margin-bottom: 5vh;
	margin-top: 5vh;

	border-radius: 5px;
	h2 {
		@include h2-style;
		padding-bottom: 3vh;
	}
	&__heder {
		display: flex;
		@media screen and (max-width: 800px) {
			display: block;
		}
		img {
			height: 300px;
			box-shadow: $shadows-item;
			border-radius: 5px;
			@media screen and (max-width: 1300px) {
				height: 250px;
			}
			@media screen and (max-width: 1000px) {
				height: 200px;
			}
			@media screen and (max-width: 800px) {
				display: block;
				margin: 0 auto;
				width: 80%;
				height: auto;
				margin-bottom: 2vh;
			}
		}
		.instructors-page__box__txt {
			p {
				@include p-style;
			}
		}
	}
}
