.nav {
	padding: 10px 10%;
	position: fixed;
	width: 100%;
	font-size: 0.9em;

	display: flex;
	justify-content: space-evenly;

	background-image: linear-gradient(
		45deg,
		rgb(198, 42, 105, 0.4),
		rgb(80, 149, 205, 0.8)
	);
	box-shadow: 0px 0px 5px #393e46;
}

@media screen and (max-width: 1200px) {
	.nav {
		padding: 10px 10%;
	}
}
@media screen and (max-width: 1024px) {
	.nav {
		padding: 10px 10%;
	}
}
@media screen and (max-width: 980px) {
	.nav {
		padding: 10px 10%;
	}
	.nav {
		justify-content: space-between;
	}
}
@media screen and (max-width: 250px) {
	.nav {
		padding: 10px 0%;
	}
}
