@import "../../../scss/colors";
.instructors {
	&__title {
		@include h1-style;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.instructors__box {
			cursor: pointer;
			width: 300px;
			text-align: center;
			margin: 5px 20px;
			background-color: #fafafa;
			border-radius: 5px;
			box-shadow: $shadows-item;
			@media screen and (max-width: 800px) {
				width: 40%;
			}
			@media screen and (max-width: 600px) {
				margin: 5px 5px;
			}
			&:hover {
				background-color: #f8faf8;
				border-radius: 5px;
				box-shadow: $shadows-item-button;
			}
			.instructors__name {
				@include h2-style;
			}

			.instructors__picture {
				margin: 10px;
				width: 70%;
				height: auto;
				border-radius: 5px;
				box-shadow: $shadows-item;
			}
		}
	}
}
