.instructors {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.instructors__box {
			cursor: pointer;
			width: 300px;
			text-align: center;
			background-color: $background-color;

			@media screen and (max-width: 800px) {
				width: 40%;
			}
			@media screen and (max-width: 600px) {
				margin: 5px 5px;
			}
			&:hover {
				background-color: $background-color;
				border-radius: 5px;
				box-shadow: $shadows-item-button;
			}
			.instructors__name {
				@include h2-style;
			}
			.instructors__possition {
				@include h3-style;
			}

			.instructors__picture {
				margin: 10px;
				width: 90%;
				height: auto;
				border-radius: 5px;
				box-shadow: $shadows-item;
			}
		}
	}
}
