.instructors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.instructors__box {
	width: 30%;
	order: 3;
	text-align: center;
	margin: 5px 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(70, 11, 35);
}
.instructors__name {
	color: rgb(80, 149, 205);
	padding: 5%;
}

.instructors__picture {
	width: 50%;
	height: auto;
}
