@import "../../../scss/colors";

.dance-page__box__element {
	margin: 5px 15%;
	@media screen and (max-width: 1000px) {
		margin: 5px 5%;
	}
	@media screen and (max-width: 800px) {
		margin: 5px 3%;
	}
	p {
		@include p-style;
		display: none;
	}
}
.description-dance {
	.active {
		.dance-page__box__element {
			p {
				display: block;
			}
		}
	}
}
.description-dance {
	.active-color {
		h3 {
			background-image: $blue-color;
		}
	}
}
