@import "./News/News";
@import "./Fitnes/Fitnes";
@import "./Break/Break";
@import "./Dance/Dance";
@import "./WeddingOffer/WeddingOffer";
@import "./SpecialOffer/SpecialOffer";
@import "./Price/Price";
@import "./Instructors/Instructors";
@import "./About/About";

.main-element {
	min-height: 30vh;
	padding: 0 10%;
	@media screen and (max-width: 1300px) {
		padding: 0 5%;
	}
	&:first-child {
		padding-top: 90px;
	}
	&:nth-child(2n) {
		background-color: #eeeeee;
	}
}

.main-element h1 {
	color: rgb(198, 42, 105);
	text-align: center;
	margin: 0;
	padding: 2vh 0;
	@media screen and (max-width: 700px) {
		font-size: 40px;
	}
	@media screen and (max-width: 500px) {
		font-size: 10vw;
	}
}
