.main-element {
	min-height: 30vh;
}
.main-element:first-child {
	padding-top: 90px;
}
.main-element:nth-child(2n) {
	background-color: #eeeeee;
}
.main-element h1 {
	color: rgb(198, 42, 105);
	text-align: center;
	margin: 0;
	padding: 2vh 0;
}

@media screen and (max-width: 700px) {
	.main-element h1 {
		font-size: 40px;
	}
}
@media screen and (max-width: 500px) {
	.main-element h1 {
		font-size: 10vw;
	}
}
