.main-element {
	min-height: 30vh;
}
.main-element:first-child {
	padding-top: 90px;
}
.main-element:nth-child(2n) {
	background-color: #eeeeee;
}
h1 {
	margin: 0 20%;
	padding: 20% 0;
	color: rgb(198, 42, 105);
}
