.news__slide {
	display: none;
	&.active {
		display: block;
	}
	img {
		display: block;
		margin: 0 auto;
		height: 80vh;
		border-radius: 10px;
		box-shadow: $shadows-item;
		@media all and (max-height: 800px) {
			height: 75vh;
		}
		@media all and (max-height: 600px) {
			height: 70vh;
		}
		@media all and (max-height: 400px) {
			height: 65vh;
		}
		@media all and (max-width: 350px) {
			width: 90vw;
			height: auto;
		}
	}

	h1 {
		@include h1-style;
		font-size: 40px;
		font-weight: 100;
		color: $font-white-color;
	}
}
