@import "../../../../scss/colors";

.news__slide {
	display: none;
	&.active {
		display: block;
	}
	img {
		display: block;
		margin: 0 auto;
		height: 50vh;
		border-radius: 10px;
		box-shadow: $shadows-item;
		@media all and (max-width: 350px) {
			width: 90vw;
			height: auto;
		}
	}

	h1 {
		@include h1-style;
		text-transform: uppercase;
	}
}
