/*.dance__types {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ContainerDance {
	width: 25%;
	margin: 2vh 1%;
}
.ContainerDance h3 {
	color: rgb(80, 149, 205);
	text-transform: uppercase;
	text-align: center;
}
.ContainerDance img {
	margin: 0 auto;
	display: block;
	width: 80%;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(131, 124, 124);
	cursor: pointer;
}
@media screen and (max-width: 1000px) {
	.ContainerDance {
		width: 40%;
		margin: 2vh 1%;
	}
}
*/
