.news {
	height: 100vh;
	overflow: hidden;
}
.news__slider {
	display: block;
	margin: 0 auto;
	overflow: hidden;
}
.news__slide {
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}
.news__slide.active {
	clip-path: circle(150% at 0 50%);
	transition: 1s;
	transition-property: clip-path;
}
.news__slide img {
	display: block;
	margin: 0 auto;
	height: 70vh;
	border-radius: 5px;
}

.news__slide h3 {
	color: rgb(80, 149, 205);
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	font-size: 45px;
	text-transform: uppercase;
}

.news__navigation {
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
}
.news__navigation-btn {
	background-color: rgba(100, 100, 100, 0.5);
	border: 1px solid rgba(100, 100, 100, 0.9);
	width: 20px;
	height: 20px;
	margin: 0 20px;
	border-radius: 50%;
	cursor: pointer;
}
.news__navigation-btn.active {
	background-color: rgb(198, 42, 105, 0.5);
	border: 1px solid rgb(198, 42, 105, 0.9);
}
@media screen and (max-width: 600px) {
	.news__slide h3 {
		padding: 10px;
		font-size: 30px;
	}
	.news__navigation {
		bottom: 10%;
	}
}
@media screen and (max-width: 350px) {
	.news {
		height: 90vh;
		overflow: hidden;
	}
	.news__slide h3 {
		padding: 10px;
		font-size: 20px;
	}
	.news__slide img {
		height: 60vh;
	}

	.news__navigation {
		bottom: 20%;
	}
	.news__navigation-btn {
		width: 15px;
		height: 15px;
		margin: 0 15px;
	}
}
@media screen and (max-width: 260px) {
	.news {
		height: 75vh;
		overflow: hidden;
	}
	.news__slide h3 {
		padding: 10px;
		font-size: 15px;
	}
	.news__slide img {
		height: 50vh;
	}

	.news__navigation {
		bottom: 30%;
	}
	.news__navigation-btn {
		width: 10px;
		height: 10px;
		margin: 0 10px;
	}
}
