@import "../../../scss/colors";
@import "../DacePageBoxElement/DacePageBoxElement";

.dance-page__box {
	h2 {
		@include h2-style;
		text-align: left;

		padding-top: 0;
		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}
		@media screen and (max-width: 800px) {
			font-size: 30px;
		}
	}
	.description {
		display: flex;

		@media screen and (max-width: 1200px) {
			display: block;
		}
		img {
			width: auto;
			height: 15vw;

			@media screen and (max-width: 1200px) {
				display: block;
				margin: 3vh auto;
				height: 30vw;
			}
			@media screen and (max-width: 800px) {
				height: 40vw;
			}
			@media screen and (max-width: 800px) {
				height: 50vw;
			}
		}
		&__p {
			margin: 0 2%;
			p {
				@include p-style;
			}
		}
	}
	.description-dance {
		margin-bottom: 10vh;
		.description-dance__felx {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		h3 {
			@include h3-style;

			display: flex;

			box-shadow: $shadows-item;
			border-radius: 3px;
			padding: 5px;
			margin: 5px;

			cursor: pointer;
		}
	}
}
