.adress-box {
	border-bottom: 5px solid $font-purple-color;

	padding: 5vh 2% 5vh 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@media screen and (max-width: 800px) {
		display: block;
	}
	h1 {
		margin-bottom: 3vh;
		border-bottom: 5px solid $font-blue-color;
		text-align: center;
	}
	&__adress,
	&__kontakt {
		li {
			text-align: left;
			list-style: none;
			margin-bottom: 1.5vh;

			span {
				color: $font-blue-color;
			}
		}
	}
}
