.nav__menuMobile {
	z-index: 10;
	top: 76px;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: white;

	transition: 0.2s 0.2s ease-in-out;

	@media screen and (min-width: 950px) {
		display: none;
	}

	&__element {
		list-style: none;
		margin: 0 20%;
		border-bottom: 1px solid #8c8c8c;
	}
	&__link {
		font-family: "Bebas Neue", cursive;
		text-transform: uppercase;
		font-size: 19px;
		color: #8c8c8c;

		display: block;
		height: 100%;

		line-height: 50px;

		text-decoration: none;

		transition: 0.2s;
		&:hover {
			font-size: 1.1em;
		}
	}
}

.visible .nav__menuMobile {
	transform: translateX(200vw);
}
