@import "./ContainerDance/ContainerDance";

.dance {
	margin: 0;
	padding: 0;
	p {
		padding: 1vh 20% 2vh 20%;
		text-align: justify;
		font-size: 0.8em;
		@media screen and (max-width: 1400px) {
			padding: 0 10% 1vh 10%;
		}
		@media screen and (max-width: 1000px) {
			font-size: 0.6em;
		}
		@media screen and (max-width: 700px) {
			padding: 0 5% 1vh 5%;
		}
	}
}
