.SocialMedia-box {
	padding: 5vh 2% 5vh 2%;
	h1 {
		margin-bottom: 3vh;
	}
	ul {
		li {
			padding-left: 30%;
			text-align: left;
			list-style: none;
			margin-bottom: 1.5vh;
			img {
				height: 35px;
				padding-right: 5%;
			}
			span {
				display: inline-block;
				transform: translate(0, -10px);
				color: $font-grey-color;
			}
		}
	}
}
