@import "../../../scss/colors";
@import "../FitnessPageBoxElement//FitnessPageBoxElement";

.fitness-page__box {
	h1 {
		color: #5590c8;
		text-align: center;

		padding-top: 0;
		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}
		@media screen and (max-width: 800px) {
			font-size: 30px;
		}
	}
	.description {
		display: flex;
		@media screen and (max-width: 1200px) {
			display: block;
		}
		img {
			width: auto;
			height: 15vw;
			@media screen and (max-width: 1700px) {
				height: 20vw;
			}

			@media screen and (max-width: 1200px) {
				display: block;
				margin: 3vh auto;
				height: 30vw;
			}
			@media screen and (max-width: 800px) {
				height: 40vw;
			}
			@media screen and (max-width: 800px) {
				height: 50vw;
			}
		}
		&__p {
			margin: 0 5%;
			@media screen and (max-width: 1700px) {
				margin: 0 2%;
			}

			p {
				@include p-style;
			}
		}
	}
	.description-fitness {
		margin-bottom: 10vh;
		.description-fitness__felx {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		h3 {
			@include h3-style;

			display: inline-flex;

			box-shadow: $shadows-item;
			border-radius: 3px;

			padding: 5px;
			margin: 5px;

			cursor: pointer;
		}
	}
}
