@import "../../scss/colors";

.special-offer-page {
	@include sub-page;
	&__container {
		.box {
			margin: 2vh 0;
			border-bottom: 5px solid $font-purple-color;
			padding-bottom: 3vh;
			margin-bottom: 3vh;
		}
		h2 {
			@include h2-style;
			margin: 3vh;
		}
		.box__lvlTwo {
			display: flex;
			@media screen and (max-width: 1000px) {
				display: block;
			}
			.box__txt {
				margin-bottom: 2vh;
				p {
					@include p-style;
				}
			}
			img {
				width: auto;
				height: 300px;
				@media screen and (max-width: 1400px) {
					height: 250px;
				}

				@media screen and (max-width: 1000px) {
					display: block;
					margin: 0 auto;
				}
				@media screen and (max-width: 600px) {
					height: auto;
					width: 80%;
				}
			}
		}
	}
}
