.map-box {
	border-bottom: 5px solid $font-purple-color;
	padding-bottom: 3vh;
	margin-bottom: 3vh;
	h2 {
		@include h2-style;
	}
	iframe {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: 50vh;
	}
}
