.map-box {
	padding: 5vh 2% 5vh 2%;
	border-bottom: 5px solid $font-purple-color;

	margin-bottom: 3vh;
	h2 {
		margin-bottom: 3vh;

		text-align: center;
	}
	iframe {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: 50vh;
	}
}
