@import "./MenuMobile/MenuMobile";
@import "./menu/Menu";
@import "./logo/Logo";
@import "./hamburgerMenu/HamburgerMenu";

nav {
	z-index: 10;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	font-size: 0.9em;

	display: flex;
	justify-content: space-evenly;

	background-color: $background-color;
	box-shadow: $shadows-item;

	transform: translateY(0);
	transition: 1s;

	@media screen and (max-width: 1300px) {
		padding: 10px 3%;
		justify-content: space-between;
	}
	@media screen and (max-width: 250px) {
		padding: 10px 0%;
	}
}
.visible-nav {
	transform: translateY(-150px);
}
.opacity-nav {
	box-shadow: none;
	color: $background-color;
	background-color: transparent;

	.nav__menu__link {
		color: $background-color;
	}
}
