@import "../../../scss/colors";

.fitness-page__box__element {
	margin: 5vh 15%;
	@media screen and (max-width: 1000px) {
		margin: 5vh 5%;
	}
	@media screen and (max-width: 800px) {
		margin: 5vh 3%;
	}
	p {
		@include p-style;
		display: none;
		margin: 5vh 3%;
	}
}
.description-fitness {
	.active {
		.fitness-page__box__element {
			p {
				display: block;
			}
		}
	}
}
