/*
LOGO-COLOR
color-first #C62A69; rgb(198,42,105)
color-mix #7B2A7D; rgb(123,42,125)
color-second #5295CD; rgb(80,149,205)
BG-COLOR
#f8f8f8
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 24px;
	background-color: #f8f8f8;
}
