$background-color: #f8f8f8;

/*Gradients*/

$blue-color: radial-gradient(#88ffff, #11ccff);
$yelow-color: radial-gradient(#f8f8ae, #f3f723);
$red-color: radial-gradient(#f8aeae, #f72323);
$green-color: radial-gradient(#b1f8ae, #46f723);
$purple-color: radial-gradient(#f6aef8, #de23f7);
$pink-color: radial-gradient(#f8aee8, #f70088);

/*Fonts*/
$font-blue-color: #5295cd;
$font-purple-color: #c62a69;

/*shadow*/

$shadows-item: 0px 0px 5px #393e46;
