$background-color: #f4f9f9;

/*Fonts*/
$font-blue-color: #5590c8;
$font-purple-color: #ca2a67;
$font-grey-color: #8c8c8c;
$font-white-color: #f4f9f9;

/*backgrounds*/
$blue-2: #5590c833;
$blue-4: #5590c877;
$blue-6: #5590c8aa;
$blue-8: #5590c8cc;

$purple-2: #ca2a6733;
$purple-4: #ca2a6777;
$purple-6: #ca2a67aa;
$purple-8: #ca2a67cc;

$black-2: #17101033;
$black-4: #17101077;
$black-6: #171010aa;
$black-8: #171010cc;

$neutral-2: #c9c9c933;
$neutral-4: #c9c9c977;
$neutral-6: #c9c9c9aa;
$neutral-8: #c9c9c9cc;
/*shadow*/

$shadows-item: 0px 0px 0px #393e46;
$shadows-item-button: 0px 0px 0px #393e46;

/*button*/

$blue-color-button: radial-gradient(#65b4f5, #59adf1);
$blue-color-button-hover: radial-gradient(#5ab0f7, #2196f3);

/*footer**/
$footer-first-floor: #423f3e;
$footer-second-floor: #2b2b2b;
$footer-third-floor: #171010;
