/***********	BUTTONS	***********/
@mixin button-style {
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	padding: 2vh 2%;
	box-shadow: $shadows-item;
	border-radius: 3px;
	background-image: $blue-color-button;
	color: #ffffff;
	@media screen and (max-width: 1300px) {
		font-size: 15px;
	}
	&:hover {
		background-image: $blue-color-button-hover;
		box-shadow: $shadows-item-button;
	}
}
/***********	p	***********/
@mixin p-style {
	margin: 0 1vh 2vh 1vh;
	text-align: justify;
	font-size: 20px;
	@media screen and (max-width: 1500px) {
		font-size: 15px;
	}
	@media screen and (max-width: 1000px) {
		font-size: 13px;
	}
}
/***********	h1	***********/
@mixin h1-style {
	font-size: 35px;
	color: $font-purple-color;
	text-align: center;
	padding: 2vh 0;
	@media screen and (max-width: 1500px) {
		font-size: 30px;
	}
	@media screen and (max-width: 1000px) {
		font-size: 25px;
	}
}
/***********	h2		***********/
@mixin h2-style {
	color: $font-blue-color;
	text-align: center;
	font-size: 30px;
	@media screen and (max-width: 1500px) {
		font-size: 25px;
	}
	@media screen and (max-width: 1000px) {
		font-size: 20px;
	}
}
/***********	h3	***********/
@mixin h3-style {
	font-size: 20px;
	color: $font-grey-color;
	@media screen and (max-width: 1000px) {
		font-size: 15px;
	}
}

/***********	Subpage start style	***********/
@mixin sub-page {
	margin: 0 20%;
	@media screen and (max-width: 1200px) {
		margin: 0 10%;
	}
	@media screen and (max-width: 600px) {
		margin: 0 3%;
	}
	&__title {
		@include h1-style;
		padding-top: 100px;
	}
}

/***********	Circle Elements	***********/
@mixin circle-box {
	cursor: pointer;
	height: 80px;
	width: 80px;

	border-radius: 50%;

	border: 2px solid #c62a69;

	@media screen and (max-width: 1000px) {
		height: 60px;
		width: 60px;
	}
	@media screen and (max-width: 800px) {
		height: 50px;
		width: 50px;
	}

	img {
		height: 35px;
		margin: 20px;
		@media screen and (max-width: 1000px) {
			height: 30px;
			margin: 13px;
		}
		@media screen and (max-width: 800px) {
			height: 25px;
			margin: 10px;
		}
	}
}
@mixin circle-box-h3 {
	@include h3-style;

	font-size: 18px;
	line-height: 60px;

	margin: 10px 5px;

	@media screen and (max-width: 1000px) {
		font-size: 20px;
		line-height: 50px;
		margin: 5px 5px;
	}
	@media screen and (max-width: 800px) {
		font-size: 18px;
		line-height: 35px;
		margin: 5px 5px;
	}
	@media screen and (max-width: 600px) {
		font-size: 13px;
		line-height: 35px;
		margin: 5px 10px;
	}
}

/***********	Image width h3	***********/
@mixin image-width-h3 {
	position: relative;
	height: 350px;
	@media screen and (max-width: 1700px) {
		height: 300px;
	}
	@media screen and (max-width: 1500px) {
		height: 250px;
	}
	@media screen and (max-width: 1000px) {
		height: 200px;
	}
	h1 {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		padding: 15px;
		border-radius: 10px;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.6);

		font-size: 45px;
		color: $font-purple-color;
		line-height: 300px;
		text-align: center;
		text-transform: uppercase;
		@media screen and (max-width: 1700px) {
			font-size: 40px;
			line-height: 250px;
		}
		@media screen and (max-width: 1500px) {
			font-size: 35px;
			line-height: 200px;
		}
		@media screen and (max-width: 1000px) {
			font-size: 30px;
			line-height: 180px;
		}

		@media screen and (max-width: 450px) {
			font-size: 8vw;
			line-height: 45vw;
		}
	}
	img {
		height: 100%;
		border-radius: 10px;
		box-shadow: $shadows-item;
		@media screen and (max-width: 800px) {
			display: block;
			margin: 0 auto 0 auto;
		}
		@media screen and (max-width: 450px) {
			width: 100%;
		}
	}
}
