.ruch__types {
	border-bottom: 5px solid $font-purple-color;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.ContainerRuch {
		cursor: pointer;
		position: relative;
		width: 33.33%;

		@media screen and (max-width: 1000px) {
			width: 50%;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
		&__backround {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			background-color: $blue-6;
		}
		&:nth-child(2n) {
			.ContainerRuch__backround {
				background-color: $black-4;
			}
		}
		h1 {
			position: absolute;

			z-index: 2;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 70px;
			color: $font-white-color;

			text-align: center;
			text-transform: uppercase;

			@media screen and (max-width: 1700px) {
				font-size: 60px;
			}
			@media screen and (max-width: 1500px) {
				font-size: 55px;
			}
			@media screen and (max-width: 1350px) {
				font-size: 45px;
			}
			@media screen and (max-width: 1100px) {
				font-size: 40px;
			}
			@media screen and (max-width: 1000px) {
				font-size: 50px;
			}
			@media screen and (max-width: 800px) {
				font-size: 40px;
			}
			@media screen and (max-width: 650px) {
				font-size: 30px;
			}
			@media screen and (max-width: 600px) {
				font-size: 50px;
			}

			@media screen and (max-width: 450px) {
				font-size: 8vw;
			}
		}
		img {
			width: 100%;
			height: auto;
			@media screen and (max-width: 800px) {
				display: block;
				margin: 0 auto 0 auto;
			}
			@media screen and (max-width: 450px) {
				width: 100%;
			}
		}
	}
}
